.users{
  width: 40%;
  margin-left: 30%;
}

.user{
  height: 8rem;
  border: 1px solid black;
  box-shadow: 3px 3px 5px 5px rgb(199, 191, 191);
  border-radius: 10px;
  margin:1rem;
  padding: 1rem;
}

.name{
  width: 70%;
}

.text{
  width: 90%;
}

.skeleton_users{
  width: 40%;
  margin-left: 30%;
}

.skeleton_user{
  height: 8rem;
  border: 1px solid black;
  box-shadow: 5px 5px 5px 5px rgb(160, 153, 153);
  border-radius: 10px;
  margin:1rem;
  padding: 1rem;
}

.skeleton_name{
  animation: shimmer 1.2s infinite linear;
  background-image: linear-gradient(
    90deg, #e7edf1 0px, #cedee9 200px, #e7edf1 400px 
  );
  border-radius: 10px;
  min-width: 70%;
  height: 25%;
}

.skeleton_text{
  border-radius: 10px;
  animation: shimmer 1.8s infinite linear;
  background-image: linear-gradient(
    90deg, #e7edf1 0px, #cedee9 200px, #e7edf1 400px 
  );
  width: 90%;
  height: 20%;
  background-color: #e7edf1;
}

@keyframes shimmer {
  0%{
    background-position:-400px;
  }
  50%{
    background-position: 700px;
  }
  100%{
    background-position: 700px;
  }
}